In [ ]:
watches = {
    "Rolex": "Submariner",
    "Omega": "Speedmaster",
    "Casio": "G-Shock",
    "Seiko": "Presage",
    "Tag Heuer": "Carrera",
    "Tissot": "Le Locle",
    "Citizen": "Eco-Drive",
    "Fossil": "Grant",
    "Timex": "Expedition",
    "Swatch": "Big Bold",
    "Hublot": "Big Bang",
    "Breitling": "Navitimer",
    "Longines": "HydroConquest",
    "Panerai": "Luminor",
    "IWC": "Portugieser",
    "Cartier": "Tank",
    "Audemars Piguet": "Royal Oak",
    "Patek Philippe": "Nautilus",
    "Richard Mille": "RM 011",
    "Bulgari": "Octo Finissimo"
}




print(watches)
print(type(watches))
print(len(watches))
print("Model of Rolex is : ",watches["Rolex"])
print("Omega's model is:", watches["Omega"])

{'Rolex': 'Submariner', 'Omega': 'Speedmaster', 'Casio': 'G-Shock', 'Seiko': 'Presage', 'Tag Heuer': 'Carrera', 'Tissot': 'Le Locle', 'Citizen': 'Eco-Drive', 'Fossil': 'Grant', 'Timex': 'Expedition', 'Swatch': 'Big Bold', 'Hublot': 'Big Bang', 'Breitling': 'Navitimer', 'Longines': 'HydroConquest', 'Panerai': 'Luminor', 'IWC': 'Portugieser', 'Cartier': 'Tank', 'Audemars Piguet': 'Royal Oak', 'Patek Philippe': 'Nautilus', 'Richard Mille': 'RM 011', 'Bulgari': 'Octo Finissimo'}
<class 'dict'>
20
Model of Rolex is :  Submariner
Omega's model is: Speedmaster

In [ ]:
student_grades = {
    "Aarav": "A",
    "Riya": "B+",
    "Kabir": "A-",
    "Ishita": "B",
    "Neel": "C+",
    "Tanya": "A",
    "Dev": "B-",
    "Meera": "A+",
    "Yash": "C",
    "Anaya": "B+",
    "Rohan": "A",
    "Sneha": "B",
    "Kunal": "C-",
    "Pooja": "A-",
    "Arjun": "B+",
    "Simran": "A",
    "Vikram": "B",
    "Nisha": "C+",
    "Harsh": "B-",
    "Diya": "A+"
}




print(student_grades)
print("All student grades:", student_grades)
print("Grade of Riya:", student_grades["Riya"])
print("Grade of Arjun:", student_grades["Arjun"])

{'Aarav': 'A', 'Riya': 'B+', 'Kabir': 'A-', 'Ishita': 'B', 'Neel': 'C+', 'Tanya': 'A', 'Dev': 'B-', 'Meera': 'A+', 'Yash': 'C', 'Anaya': 'B+', 'Rohan': 'A', 'Sneha': 'B', 'Kunal': 'C-', 'Pooja': 'A-', 'Arjun': 'B+', 'Simran': 'A', 'Vikram': 'B', 'Nisha': 'C+', 'Harsh': 'B-', 'Diya': 'A+'}
All student grades: {'Aarav': 'A', 'Riya': 'B+', 'Kabir': 'A-', 'Ishita': 'B', 'Neel': 'C+', 'Tanya': 'A', 'Dev': 'B-', 'Meera': 'A+', 'Yash': 'C', 'Anaya': 'B+', 'Rohan': 'A', 'Sneha': 'B', 'Kunal': 'C-', 'Pooja': 'A-', 'Arjun': 'B+', 'Simran': 'A', 'Vikram': 'B', 'Nisha': 'C+', 'Harsh': 'B-', 'Diya': 'A+'}
Grade of Riya: B+
Grade of Arjun: B+

In [ ]:
country_capitals = {
    "India": "New Delhi",
    "USA": "Washington, D.C.",
    "France": "Paris",
    "Germany": "Berlin",
    "Japan": "Tokyo",
    "China": "Beijing",
    "Brazil": "Brasília",
    "Russia": "Moscow",
    "Australia": "Canberra",
    "Canada": "Ottawa",
    "Italy": "Rome",
    "Spain": "Madrid",
    "South Korea": "Seoul",
    "Mexico": "Mexico City",
    "UK": "London",
    "Egypt": "Cairo",
    "Argentina": "Buenos Aires",
    "Turkey": "Ankara",
    "Thailand": "Bangkok",
    "South Africa": "Pretoria"
}




print(country_capitals)
print("Capital of India is:", country_capitals["India"])
print("Capital of Japan is:", country_capitals["Japan"])
print("Countries:", list(country_capitals.keys()))
print("Capitals:", list(country_capitals.values()))

{'India': 'New Delhi', 'USA': 'Washington, D.C.', 'France': 'Paris', 'Germany': 'Berlin', 'Japan': 'Tokyo', 'China': 'Beijing', 'Brazil': 'Brasília', 'Russia': 'Moscow', 'Australia': 'Canberra', 'Canada': 'Ottawa', 'Italy': 'Rome', 'Spain': 'Madrid', 'South Korea': 'Seoul', 'Mexico': 'Mexico City', 'UK': 'London', 'Egypt': 'Cairo', 'Argentina': 'Buenos Aires', 'Turkey': 'Ankara', 'Thailand': 'Bangkok', 'South Africa': 'Pretoria'}
Capital of India is: New Delhi
Capital of Japan is: Tokyo
Countries: ['India', 'USA', 'France', 'Germany', 'Japan', 'China', 'Brazil', 'Russia', 'Australia', 'Canada', 'Italy', 'Spain', 'South Korea', 'Mexico', 'UK', 'Egypt', 'Argentina', 'Turkey', 'Thailand', 'South Africa']
Capitals: ['New Delhi', 'Washington, D.C.', 'Paris', 'Berlin', 'Tokyo', 'Beijing', 'Brasília', 'Moscow', 'Canberra', 'Ottawa', 'Rome', 'Madrid', 'Seoul', 'Mexico City', 'London', 'Cairo', 'Buenos Aires', 'Ankara', 'Bangkok', 'Pretoria']

In [15]:
employee_salaries = {
    "E001": 50000, "E002": 52000, "E003": 48000, "E004": 60000, "E005": 55000,
    "E006": 47000, "E007": 53000, "E008": 51000, "E009": 49000, "E010": 58000,
    "E011": 62000, "E012": 54000, "E013": 56000, "E014": 57000, "E015": 59000,
    "E016": 61000, "E017": 63000, "E018": 64000, "E019": 65000, "E020": 66000
}



  #print
print("Employee Salaries:", employee_salaries)
print("Salary of E005:", employee_salaries["E005"])
print("Salary of E015:", employee_salaries["E015"])
print("All Employee IDs:", list(employee_salaries.keys()))
print("All Salaries:", list(employee_salaries.values()))
print("Total Employees:", len(employee_salaries))

Employee Salaries: {'E001': 50000, 'E002': 52000, 'E003': 48000, 'E004': 60000, 'E005': 55000, 'E006': 47000, 'E007': 53000, 'E008': 51000, 'E009': 49000, 'E010': 58000, 'E011': 62000, 'E012': 54000, 'E013': 56000, 'E014': 57000, 'E015': 59000, 'E016': 61000, 'E017': 63000, 'E018': 64000, 'E019': 65000, 'E020': 66000}
Salary of E005: 55000
Salary of E015: 59000
All Employee IDs: ['E001', 'E002', 'E003', 'E004', 'E005', 'E006', 'E007', 'E008', 'E009', 'E010', 'E011', 'E012', 'E013', 'E014', 'E015', 'E016', 'E017', 'E018', 'E019', 'E020']
All Salaries: [50000, 52000, 48000, 60000, 55000, 47000, 53000, 51000, 49000, 58000, 62000, 54000, 56000, 57000, 59000, 61000, 63000, 64000, 65000, 66000]
Total Employees: 20

In [16]:
books = {
    "1984": "George Orwell", "To Kill a Mockingbird": "Harper Lee", "The Great Gatsby": "F. Scott Fitzgerald",
    "Pride and Prejudice": "Jane Austen", "Moby-Dick": "Herman Melville", "War and Peace": "Leo Tolstoy",
    "Hamlet": "William Shakespeare", "The Catcher in the Rye": "J.D. Salinger", "The Hobbit": "J.R.R. Tolkien",
    "Ulysses": "James Joyce", "Jane Eyre": "Charlotte Brontë", "Crime and Punishment": "Fyodor Dostoevsky",
    "Brave New World": "Aldous Huxley", "The Odyssey": "Homer", "The Divine Comedy": "Dante Alighieri",
    "Frankenstein": "Mary Shelley", "The Brothers Karamazov": "Dostoevsky", "Wuthering Heights": "Emily Brontë",
    "Don Quixote": "Miguel de Cervantes", "The Iliad": "Homer"
}



print("Books and Authors:", books)
print("Author of '1984':", books["1984"])
print("Total number of books:", len(books))

if "Hamlet" in books:
    print("Hamlet is in the collection")
    
print("Author of 'To Kill a Mockingbird':", books["To Kill a Mockingbird"])
print("Author of 'The Great Gatsby':", books["The Great Gatsby"])

Books and Authors: {'1984': 'George Orwell', 'To Kill a Mockingbird': 'Harper Lee', 'The Great Gatsby': 'F. Scott Fitzgerald', 'Pride and Prejudice': 'Jane Austen', 'Moby-Dick': 'Herman Melville', 'War and Peace': 'Leo Tolstoy', 'Hamlet': 'William Shakespeare', 'The Catcher in the Rye': 'J.D. Salinger', 'The Hobbit': 'J.R.R. Tolkien', 'Ulysses': 'James Joyce', 'Jane Eyre': 'Charlotte Brontë', 'Crime and Punishment': 'Fyodor Dostoevsky', 'Brave New World': 'Aldous Huxley', 'The Odyssey': 'Homer', 'The Divine Comedy': 'Dante Alighieri', 'Frankenstein': 'Mary Shelley', 'The Brothers Karamazov': 'Dostoevsky', 'Wuthering Heights': 'Emily Brontë', 'Don Quixote': 'Miguel de Cervantes', 'The Iliad': 'Homer'}
Author of '1984': George Orwell
Total number of books: 20
Hamlet is in the collection
Author of 'To Kill a Mockingbird': Harper Lee
Author of 'The Great Gatsby': F. Scott Fitzgerald

In [ ]:
movie_ratings = {
    "Inception": 8.8, "Titanic": 7.8, "The Dark Knight": 9.0, "Interstellar": 8.6, "Parasite": 8.6,
    "Avengers: Endgame": 8.4, "Joker": 8.5, "Forrest Gump": 8.8, "Gladiator": 8.5, "The Matrix": 8.7,
    "The Godfather": 9.2, "Pulp Fiction": 8.9, "Fight Club": 8.8, "Shawshank Redemption": 9.3, "The Lion King": 8.5,
    "Toy Story": 8.3, "Up": 8.2, "Finding Nemo": 8.1, "Coco": 8.4, "WALL-E": 8.4
}





print("Movie Ratings:", movie_ratings)
print("Rating of 'Inception':", movie_ratings["Inception"])
print("Movies:", list(movie_ratings.keys()))
print("Ratings:", list(movie_ratings.values()))
if "Titanic" in movie_ratings:
    print("Titanic is rated:", movie_ratings["Titanic"])

Movie Ratings: {'Inception': 8.8, 'Titanic': 7.8, 'The Dark Knight': 9.0, 'Interstellar': 8.6, 'Parasite': 8.6, 'Avengers: Endgame': 8.4, 'Joker': 8.5, 'Forrest Gump': 8.8, 'Gladiator': 8.5, 'The Matrix': 8.7, 'The Godfather': 9.2, 'Pulp Fiction': 8.9, 'Fight Club': 8.8, 'Shawshank Redemption': 9.3, 'The Lion King': 8.5, 'Toy Story': 8.3, 'Up': 8.2, 'Finding Nemo': 8.1, 'Coco': 8.4, 'WALL-E': 8.4}
Rating of 'Inception': 8.8
Movies: ['Inception', 'Titanic', 'The Dark Knight', 'Interstellar', 'Parasite', 'Avengers: Endgame', 'Joker', 'Forrest Gump', 'Gladiator', 'The Matrix', 'The Godfather', 'Pulp Fiction', 'Fight Club', 'Shawshank Redemption', 'The Lion King', 'Toy Story', 'Up', 'Finding Nemo', 'Coco', 'WALL-E']
Ratings: [8.8, 7.8, 9.0, 8.6, 8.6, 8.4, 8.5, 8.8, 8.5, 8.7, 9.2, 8.9, 8.8, 9.3, 8.5, 8.3, 8.2, 8.1, 8.4, 8.4]
Titanic is rated: 7.8

In [18]:
daily_temps = {
    "Day 1": 32, "Day 2": 33, "Day 3": 31, "Day 4": 30, "Day 5": 29,
    "Day 6": 28, "Day 7": 27, "Day 8": 26, "Day 9": 25, "Day 10": 24,
    "Day 11": 23, "Day 12": 22, "Day 13": 21, "Day 14": 20, "Day 15": 19,
    "Day 16": 18, "Day 17": 17, "Day 18": 16, "Day 19": 15, "Day 20": 14
}





print("Daily Temperatures:", daily_temps)
print("Temperature on Day 1:", daily_temps["Day 1"])
print("Temperature on Day 10:", daily_temps["Day 10"])
print("All Days:", list(daily_temps.keys()))
print("All Temperatures:", list(daily_temps.values()))
print("Temperature on Day 15:", daily_temps["Day 15"])

Daily Temperatures: {'Day 1': 32, 'Day 2': 33, 'Day 3': 31, 'Day 4': 30, 'Day 5': 29, 'Day 6': 28, 'Day 7': 27, 'Day 8': 26, 'Day 9': 25, 'Day 10': 24, 'Day 11': 23, 'Day 12': 22, 'Day 13': 21, 'Day 14': 20, 'Day 15': 19, 'Day 16': 18, 'Day 17': 17, 'Day 18': 16, 'Day 19': 15, 'Day 20': 14}
Temperature on Day 1: 32
Temperature on Day 10: 24
All Days: ['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5', 'Day 6', 'Day 7', 'Day 8', 'Day 9', 'Day 10', 'Day 11', 'Day 12', 'Day 13', 'Day 14', 'Day 15', 'Day 16', 'Day 17', 'Day 18', 'Day 19', 'Day 20']
All Temperatures: [32, 33, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14]
Temperature on Day 15: 19

In [22]:
product_prices = {
    "Laptop": 75000, "Smartphone": 30000, "Tablet": 20000, "Monitor": 15000, "Keyboard": 1200,
    "Mouse": 800, "Printer": 6000, "Speaker": 2500, "Router": 1800, "Webcam": 2200,
    "Smartwatch": 10000, "Headphones": 3500, "Charger": 900, "Power Bank": 1500, "SSD": 4500,
    "Hard Drive": 5000, "Graphics Card": 25000, "RAM": 4000, "Motherboard": 12000, "Processor": 28000
}




print("Product Prices:", product_prices)
print("Total number of products:", len(product_prices))
print("Price of Laptop:", product_prices["Laptop"])
print("Price of Smartphone:", product_prices["Smartphone"])
if "SSD" in product_prices:
    print("SSD is available at ₹", product_prices["SSD"])

Product Prices: {'Laptop': 75000, 'Smartphone': 30000, 'Tablet': 20000, 'Monitor': 15000, 'Keyboard': 1200, 'Mouse': 800, 'Printer': 6000, 'Speaker': 2500, 'Router': 1800, 'Webcam': 2200, 'Smartwatch': 10000, 'Headphones': 3500, 'Charger': 900, 'Power Bank': 1500, 'SSD': 4500, 'Hard Drive': 5000, 'Graphics Card': 25000, 'RAM': 4000, 'Motherboard': 12000, 'Processor': 28000}
Total number of products: 20
Price of Laptop: 75000
Price of Smartphone: 30000
SSD is available at ₹ 4500

In [ ]:
#Print statement examples

print("Hello, world!")
print("this is int :",42)
print("it's float type :",18.6)
print("boolean =",True)

a = 10
if a > 5:
    print("a is greater than 5")

    a, b = 5, 10
print("a < b and b > 0:", a < b and b > 0)
    
print(None)
print("Python is fun!")
print("Name:", "Aarav")
print("Sum:", 10 + 20)
print("Product:", 5 * 6)
print("Division:", 100 / 4)


numbers = [10, 20, 30, 40, 50]

print("Sum:", sum(numbers))
print("Max:", max(numbers))
print("Min:", min(numbers))
print("Average:", sum(numbers)/len(numbers))
print("Count:", len(numbers))


text = "Hello there"

print("Uppercase:", text.upper())
print("Lowercase:", text.lower())
print("Split:", text.split())
print("Replace:", text.replace("Python", "Java"))
print("Length:", len(text))


import math
print("Square root of 16:", math.sqrt(16))
print("Power:", math.pow(2, 3))
print("Ceil:", math.ceil(4.2))
print("Floor:", math.floor(4.8))
print("Pi:", math.pi)

Hello, world!
this is int : 42
it's float type : 18.6
boolean = True
a is greater than 5
a < b and b > 0: True
None
Python is fun!
Name: Aarav
Sum: 30
Product: 30
Division: 25.0
Sum: 150
Max: 50
Min: 10
Average: 30.0
Count: 5
Uppercase: HELLO THERE
Lowercase: hello there
Split: ['Hello', 'there']
Replace: Hello there
Length: 11
Square root of 16: 4.0
Power: 8.0
Ceil: 5
Floor: 4
Pi: 3.141592653589793